/*
 * Locomotive Scroll Custom Styles
 */

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

/* Locomotive Scroll Custom Styles */
[data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-section] {
  perspective: 1000px;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 7px;
  margin: 2px;
  border-radius: 10px;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing;
}

/* Fade up animation classes */
[data-scroll] {
  opacity: 0;
  transition: all 1.5s ease;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
}

[data-scroll="out"] {
  opacity: 0;
}

/* Add smooth transition for all elements */
* {
  transition: transform 0.5s ease;
} 